.masthead {
  padding-top: 0;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  color: #d8d8d8;
  display: flex;
}

.remove-task {
  color: white;
  cursor: pointer;
}

.done-checkbox {
}

.auth-form {
  width: 200px;
  margin: 0 auto;
}
